@import url(http://fonts.googleapis.com/css?family=Knewave);
header{
  color : red;
  border : 3px dashed green;
  font-family: 'Knewave', cursive;
}

body{
  background: url(/images/title.jpg) repeat;
h1{
border: 5px solid red;
}

p{
  color : purple;
  border : 20px solid;
}

a:hover{
background-color: yellow;



